- content_for :page_title, @user.name
.outer
  .container
    - localized_cache @user do
      = render "/header", title: t('entries.index.user_entries', user: @user.first_name)
      = link_to t("entries.download_csv"), user_entries_path(@user, format: "csv")
    .entries-tabs-container
      %ul.accordion-tabs
        %li.tab-header-and-content-left
          %a.tab-link{href: "#hours"}= t("entries.index.hours")
          #hours-tab.tab-content
            %table.entries-table
              = render 'hours_table'
            = paginate @hours_entries, param_name: :hours_pages
        %li.tab-header-and-content-right
          %a.tab-link{href: "#mileages"}= t("entries.index.mileages")
          #mileages-tab.tab-content
            %table.entries-table
              = render 'mileages_table'
            = paginate @mileages_entries, param_name: :mileages_pages
        %li.tab-header-and-content-right
          %a.tab-link{href: "#expenses"}= t("entries.index.expenses")
          #expenses-tab.tab-content
            %table.entries-table
              = render 'expenses_table'
            = paginate @expenses_entries, param_name: :expenses_pages
