.hero {
  $hero-background: desaturate(darken($base-accent-color, 20), 30);
  $hero-color: white;

  @include outer-container;
  background: image-url("mood.jpg") center center;
  background-size: cover;
  min-height: 50vh;
  position: relative;
  overflow: hidden;

  test-shadow: none;

  @include media($medium-screen) {
    min-height: 75%;
  }

  .hero-inner {
    padding: 3em;
    text-align: center;
    color: $hero-color;

    @include media($medium-screen) {
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .hero-copy {
      text-align: center;
      color: #000000;

      h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 4em;

        img {
          @include animation(bounceIn .9s);
          width: 300px;
        }

        @include media($large-screen) {
          img {
            width: 400px;
          }
        }
      }

      h2 {
        margin: auto;
        margin-bottom: 1.6em;
        font-size: 2em;
        background-color: rgba(31, 29, 15, 0.54);
        // line-height: 2em;
        padding: .2em;

        @include media($medium-screen) {
          width: 60%;
          max-width: 830px;
          font-size: 2em;
        }

        @include media($large-screen) {
          width: 60%;
          max-width: 830px;
          font-size: 3em;
        }
      }

      a.button {
        $button-size: 160px;

        display: inline-block;
        width: $button-size;
        height: $button-size;
        line-height: $button-size - 4px;
        text-align: center;
        font-size: 3em;
        font-weight: 700;
        font-family: $header-font-family;
        text-transform: lowercase;

        @include perspective(1000);

        .flip {
          @include transition(all .5s ease);
          @include transform-style(preserve-3d);
          position: relative;
          color: #fff;

          .flip-front,
          .flip-back {
            @include transform-style(preserve-3d); // fix for FF
            @include backface-visibility(hidden);
            position: absolute;
            left: 0;
            top: 0;
            width: $button-size;
            height: $button-size;
            border: 4px solid #fff;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 2px rgba(#000, .1);

            span {
              display: table-cell;
              width: $button-size;
              height: $button-size;
              vertical-align: middle;
              text-align: center;
              line-height: 1em;
            }
          }
          .flip-front {
            z-index: 2;
          }
          .flip-back {
            @include transform(rotateY(180deg));
            z-index: 1;
            background: #e5192b;
            color: #fff;
            text-shadow: none;
            border: none;
          }

          &:hover {
            @include transform(rotateY(180deg));
          }
        }
      }
    }
  }
}
