

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1400);

// Neat Breakpoints
$medium-screen: em(640);
$laptop-screen: em(1250);
$large-screen: em(1600);

$medium-screen-up: new-breakpoint(min-width $medium-screen);
$laptop-screen-up: new-breakpoint(min-width $laptop-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
