%footer.footer
  .footer-links
    %ul
      %li
        %a{href: "#{root_path}#pricing"} Pricing
      %li= link_to "FAQs", page_path("faq")
  %hr/
  %p

    Office: Shop No.1, Nirmal CHS, Sector 42, Seawoods, Navi Mumbai.
    Call on - +91-7208264676.
