- localized_cache static_cache_key_for(:landing) do
  .hero
    .hero-inner
      .hero-copy
        %h1 Project Tracking Made Simple.        
        %h4 Track your workforce working on Projects, Tracking Hours spent, Expenses made for the projects.
        %h4 Making it easy for Billing.
        %br
        = link_to new_accounts_path do
          %button Free Trial

  .main
    .copy
      %p
        ProjectTracker is a simple Project based Time tracking application that gives insights of Hour spent by Workforce, Expenses made for each Project and Clients. Users registers how many hours they've worked on a Project or record any Expenses made for Project. This gives us a lot of insight on how we spend our time on different projects and work-categories. Now, you dont have to remember the time or expenses made for any client, just make an entry in the app and track your billables for the clients.
  #pricing.pricing
    %h1 Simple Pricing
    .cards
      .card
        = link_to new_accounts_path do
          .card-image.solo
            %p Solo
        .card-header
          Rs 499 /person per month.
        .card-copy
          %p  For Freelancers and Professionals, to track their hours and expenses on projects of your clients. 
        .card-stats
          %ul
            %li
              Unlimited
              %span Projects &amp; entries
      .card
        .ribbon-wrapper
          .ribbon Popular
        = link_to new_accounts_path do
          .card-image.medium
            %p Small Teams/Organizations
        .card-header
          Rs 499 / person per month.
        .card-copy
          %p Tailored toward consultancies and medium sized firms, this plan will only cost you Rs 499 per user per month.
        .card-stats
          %ul
            %li
              25
              %span Users
            %li
              Unlimited
              %span Projects &amp; entries
      .card
        = link_to new_accounts_path do
          .card-image.enterprise
            %p Enterprise
        .card-header
          Call us :)
        .card-copy
          %p
            %a{:href => "tel:+91 7208264676"} Call us,
            maybe...
          %p
            %strong +91 7208264676
        .card-stats
          %ul
            %li
              25+
              %span Users
            %li
              Unlimited
              %span everything
    %p
      Or start with a
      %strong free
      7 days trial. No credit card needed.
    = link_to new_accounts_path do
      %button Free trial
    %p
      %small
        Bills will be mailed every month advance with payment link, if user add new user in between a month then bill for extra new user will be charged on pro-rata basis and sent to account-owner. 
        None payment for the account in 7 days after raising the bill, the account will be terminated. Refer FAQs and Usage Policy for further reference.
    %p
  = render "footer"
