.outer
  .wrapper
    .projects-overview
      .new-entry-wrapper
        %h2= t("entries.index.new")
        .projects-tabs-container
          %ul.accordion-tabs
            %li.tab-header-and-content-left
              %a.tab-link{href: "#hours"}= t("entries.index.hours")
              #hours-tab.tab-content
                %table.entries-table
                  = render partial: "application/hours_entry_form", locals: { form_title: t("entries.index.new_hours")  }
            %li.tab-header-and-content-right
              %a.tab-link{href: "#mileages"}= t("entries.index.mileages")
              #mileages-tab.tab-content
                %table.entries-table
                  = render partial: "application/mileages_entry_form", locals: { form_title: t("entries.index.new_mileages") }
            %li.tab-header-and-content-right
              %a.tab-link{href: "#expenses"}= t("entries.index.expenses")
              #expenses-tab.tab-content
                %table.entries-table
                  = render partial: "application/expenses_entry_form", locals: {form_title: t("entries.index.new_expenses") }
      %ul.project-list
        - localized_cache cache_keys_for_all(:projects, :categories) do
          - unless Project.any?
            .info
              %p= t("info.no_projects_html", new_project_path: link_to(t("info.here"), new_project_path))
          - unless Category.any?
            .info
              %p= t("info.no_categories_html", categories_path: link_to(t("info.here"), categories_path))
          = render partial: "project", locals: { projects: @projects }
      .new-project
        = link_to t("titles.projects.new"), new_project_path, id: "new-project-button", class: "button create"
    .activity-feed
      %ul
        - localized_cache [cache_key_for_all(:hours), current_locale] do
          = render partial: "entry", collection: @activities
