%h3= t("entries.index.expenses")
%table.entries
  %tr
    %th
      %input{ type: "checkbox", "data-project-id" => project.id, "data-entry_type" => "expenses", class: "bill-project" }
      = t("billables.table.billed")
    %th= t("billables.table.date")
    %th= t("billables.table.category")
    %th= t("billables.table.amount")
    %th= t("billables.table.user")
  - billable_expenses_of(project).each do |expense|
    %tr.info-row
      %td= billable_entry_checkbox(expense, "expenses")
      %td= I18n.l (expense.date)
      %td= expense.category.name
      %td.center= number_to_indian_currency(expense.amount)
      %td
        = link_to expense.user do
          = expense.user.full_name
