.outer
  .container
    %p= t('email.confirmation.salutation', first_name: @user.first_name)
    %h2 Welcome to Project Tracker!!
    #main You’re on your way to discovering simple time tracking and project management! Sign in to your 30-day free trial with the link below and bookmark it for easy access.
    %p= link_to t('email.confirmation.confirm_password'), confirmation_url(@resource, confirmation_token: @token, subdomain: current_subdomain)
