= form_for @expense do |f|
  - if @expense.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expense.errors.count, "error")} prohibited this expense from being saved:"
      %ul
        - @expense.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :amount
    = f.text_field :amount
  .actions
    = f.submit 'Save'
