%h1 Listing expenses

%table
  %thead
    %tr
      %th Amount
      %th
      %th
      %th

  %tbody
    - @expenses.each do |expense|
      %tr
        %td= expense.amount
        %td= link_to 'Show', expense
        %td= link_to 'Edit', edit_expense_path(expense)
        %td= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Expense', new_expense_path
