!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "noindex, nofollow", :name => "robots"}/
    %title= [(content_for(:page_title) || title), t("titles.application")].compact.uniq.join(" | ")
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %link{:href => image_url("favicon.ico", :rel => "icon")}/
    %link{:href => image_url("apple-touch-icon.png", :rel => "apple-touch-icon")}/
    %link{:href => image_url("apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76")}/
    %link{:href => image_url("apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120")}/
    %link{:href => image_url("apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152")}/
    %div#_webengage_script_tag
    :javascript
        var webengage; !function(w,e,b,n,g){function o(e,t){e[t[t.length-1]]=function(){r.__queue.push([t.join("."),arguments])}}var i,s,r=w[b],z=" ",l="init options track screen onReady".split(z),a="feedback survey notification".split(z),c="options render clear abort".split(z),p="Open Close Submit Complete View Click".split(z),u="identify login logout setAttribute".split(z);if(!r||!r.__v){for(w[b]=r={__queue:[],__v:"6.0",user:{}},i=0;i<l.length;i++)o(r,[l[i]]);for(i=0;i<a.length;i++){for(r[a[i]]={},s=0;s<c.length;s++)o(r[a[i]],[a[i],c[s]]);for(s=0;s<p.length;s++)o(r[a[i]],[a[i],"on"+p[s]])}for(i=0;i<u.length;i++)o(r.user,["user",u[i]]);setTimeout(function(){var f=e.createElement("script"),d=e.getElementById("_webengage_script_tag");f.type="text/javascript",f.async=!0,f.src=("https:"==e.location.protocol?"https://ssl.widgets.webengage.com":"http://cdn.widgets.webengage.com")+"/js/webengage-min-v-6.0.js",d.parentNode.insertBefore(f,d)})}}(window,document,"webengage");
        webengage.init("8261831d")
  %body{:class => body_class, "data-language" => I18n.locale}
    = render 'google_analytics' if Hours.google_analytics_id
    = render 'navbar' if current_user
    = render 'flashes'
    = yield
    = render 'javascript'
