.container
  %h1 Free Trial
  %title= title
  = simple_form_for(@signup, url: accounts_path) do |f|
    = f.error_notification
    .form-inputs
      = f.input :first_name, required: true, label: false, placeholder: t("account.first_name")
      = f.input :last_name, required: true, label: false, placeholder: t("account.last_name")
      = f.input :email, required: true, label: false, placeholder: t("account.email")
      = f.input :password, required: true, label: false, placeholder: t("account.password")
      = f.input :password_confirmation, required: true, label: false, placeholder: t("account.repeat_password")
      = f.input :subdomain, :required => true, label: false, placeholder: t("account.subdomain")
      = recaptcha_tags
      = f.button :submit, t("account.create"), data: { disable_with: t("loader.saving") }
  = link_to root_path do
    %p= t("account.back_to_website")
